<div class="jumbotron">
   <h1>What is Bloccit?</h1>
   <p>Bloccit is a resource for sharing links with your friends!</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>The makings of Bloccit...</h2>
  </div>
</div>
<div class="row">
  <!-- area for pictures of site progress-->
  <div class="col-md-4 progress-pictures">
    <%= image_tag("progress_pic1.png", class: 'progress-pic', alt: "first progress picture")%>
  </div>
  <div class="col-md-4 progress-pictures">
    <%= image_tag("progress_pic2.png", class: 'progress-pic', alt: "second progress picture")%>
  </div>
  <div class="col-md-4 progress-pictures">
    <%= image_tag("progress_pic3.png", class: 'progress-pic', alt: "third progress picture")%>
  </div>
</div>

 <div class="row">
   <div class="col-md-6">
     <h2>but <em>really</em>...</h2>
     <p>Bloccit is a Reddit replica where people can post, vote on, share and save links and comments. Bloccit's real purpose is to teach the fundamentals of web development and Rails.</p>
   </div>
   <div class="col-md-6">
     <h2>for the love of tech...</h2>
     <p>Bloccit is made with the help & guidance of my mentor Kinsey Durham. <br> using Ruby -v 2.4.0 Rails -v 5.1.3</p>
   </div>
 </div>
