<h1>Welcome</h1>
<p>Welcome#index Find me in app/views/welcome/index.html.erb</p>
<p>Not sure if/when we will be fixing the landing page but I am adding a tab to our post page so i don't have to type it in the url every dang time.</p>
